@model WEB.Models.Entities.ServiceDescription

@{
    ViewBag.Title = "Просмотр подключения";
    ViewBag.ConnectionType = Model.InteractionType;
    ViewBag.Name = Model.Name;
}
<p></p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="tab_1-tab" data-toggle="tab" href="#tab_1" role="tab" aria-controls="tab_1" aria-selected="true">Просмотр подключения</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab_2-tab" data-toggle="tab" href="#tab_2" role="tab" aria-controls="tab_2" aria-selected="false">Доступные функции</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab_3-tab" data-toggle="tab" href="#tab_3" role="tab" aria-controls="tab_3" aria-selected="false">Статистика</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab_4-tab" data-toggle="tab" href="#tab_4" role="tab" aria-controls="tab_4" aria-selected="false">Terminal</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent" style="padding: 5px;">
    <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="tab_1-tab">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AgreementNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgreementNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConnectionType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConnectionType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InteractionType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InteractionType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Редактировать (restricted)", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Удалить (restricted)", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" }) |
            @Html.ActionLink("Назад к списку", "Index")
        </p>
    </div>
    <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2-tab">
        @if (Model.ConnectionType == WEB.Models.Enums.ConnectionType.Internet && Model.InteractionType == WEB.Models.Enums.InteractionType.Transmit)
        {
            Html.RenderPartial("_WindowsServiceOperations", Model);
        }
        else if (Model.ConnectionType == WEB.Models.Enums.ConnectionType.Internet && Model.InteractionType == WEB.Models.Enums.InteractionType.Receive)
        {
            Html.RenderPartial("_WindowsClientOperations", Model);
        }
        else if (Model.ConnectionType == WEB.Models.Enums.ConnectionType.Tunduk && Model.InteractionType == WEB.Models.Enums.InteractionType.Transmit)
        {
            Html.RenderPartial("_TundukServiceOperations", Model);
        }
        else if (Model.ConnectionType == WEB.Models.Enums.ConnectionType.Tunduk && Model.InteractionType == WEB.Models.Enums.InteractionType.Receive)
        {
            Html.RenderPartial("_TundukClientOperations", Model);
        }
    </div>
    <div class="tab-pane fade" id="tab_3" role="tabpanel" aria-labelledby="tab_3-tab">
        @if (Model.ConnectionType == WEB.Models.Enums.ConnectionType.Internet && Model.InteractionType == WEB.Models.Enums.InteractionType.Transmit)
        {
            //Html.RenderPartial("_WindowsServiceOperations", Model);
        }
        else if (Model.ConnectionType == WEB.Models.Enums.ConnectionType.Internet && Model.InteractionType == WEB.Models.Enums.InteractionType.Receive)
        {
            //Html.RenderPartial("_WindowsClientOperations", Model);
        }
        else if (Model.ConnectionType == WEB.Models.Enums.ConnectionType.Tunduk && Model.InteractionType == WEB.Models.Enums.InteractionType.Transmit)
        {
            Html.RenderPartial("_LineChart");
        }
        else if (Model.ConnectionType == WEB.Models.Enums.ConnectionType.Tunduk && Model.InteractionType == WEB.Models.Enums.InteractionType.Receive)
        {
            Html.RenderPartial("_LineChart");
        }
    </div>
    <div class="tab-pane fade" id="tab_4" role="tabpanel" aria-labelledby="tab_4-tab">
        <div class="col-md-6 terminal">
            <p>terminal >_</p>
            <ul></ul>
        </div>
    </div>
</div>

@section scripts {
    <!-- Load d3.js and c3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js" charset="utf-8"></script>
    <script src="@Url.Content("~/c3-0.6.8/c3.js")"></script>
    @if (Model.ConnectionType == WEB.Models.Enums.ConnectionType.Internet)
    {
        if (Model.InteractionType == WEB.Models.Enums.InteractionType.Transmit)
        {
            <script>
                $(function () {

                    $.ajax({
                        url: '@Url.Action("GetWinServiceInfo", "ServiceBuilder", new { name = Model.Name })',
                        success: function (result) {
                            if (result.result) {

                                if (result.isStarted) {
                                    $('#startServiceBtn').attr('disabled', 'disabled');
                                }
                                else {
                                    $('#stopServiceBtn').attr('disabled', 'disabled');
                                }

                                if (result.isExist) {
                                    $('#installServiceBtn').attr('disabled', 'disabled');
                                }
                                else {
                                    $('#uninstallServiceBtn').attr('disabled', 'disabled');
                                    $('#startServiceBtn').attr('disabled', 'disabled');
                                    $('#stopServiceBtn').attr('disabled', 'disabled');
                                }
                            }
                            else {
                                $('.terminal ul').append($('<li/>').text(result.error).addClass('error'));
                                $(".terminal").scrollTop($(".terminal")[0].scrollHeight);
                            }

                            $.ajax({
                                url: '@Url.Action("HasBuilding", "ServiceBuilder", new { name = Model.Name })',
                                success: function (result) {
                                    if (result.result) {
                                        $('#buildProjectBtn').attr('disabled', 'disabled');
                                        $('#rebuildProjectBtn').removeAttr('disabled');
                                    }
                                    else {
                                        $('#installServiceBtn').attr('disabled', 'disabled');
                                        $('#uninstallServiceBtn').attr('disabled', 'disabled');
                                        $('#startServiceBtn').attr('disabled', 'disabled');
                                        $('#stopServiceBtn').attr('disabled', 'disabled');
                                    }

                                    $.ajax({
                                        url: '@Url.Action("CheckProjectFolder", "ServiceBuilder", new { name = Model.Name })',
                                        success: function (result) {
                                            if (result.result) {
                                                $('#createProjectFolderBtn').attr('disabled', 'disabled');
                                                $('.hasProjectFolder').text('Создано').addClass('text-success');
                                            }
                                            else {
                                                $('#buildProjectBtn').attr('disabled', 'disabled');
                                                $('#rebuildProjectBtn').attr('disabled', 'disabled');
                                            }
                                        }
                                    });
                                }
                            });
                        }
                    });

                    $(document).delegate('#createProjectFolderBtn', 'click', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        $.ajax({
                            url: url,
                            success: function (result) {
                                if (result.result) {
                                    $(result.outputLines).each(function (i, item) {
                                        $('.terminal ul').append($('<li/>').text(item));
                                    });
                                }
                                else {
                                    $('.terminal ul').append($('<li/>').text(result.error).addClass('error'));
                                }
                                $(".terminal").scrollTop($(".terminal")[0].scrollHeight);
                            }
                        });
                    });

                    $(document).delegate('#buildProjectBtn', 'click', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        $.ajax({
                            url: url,
                            success: function (result) {
                                if (result.result) {
                                    $(result.outputLines).each(function (i, item) {
                                        $('.terminal ul').append($('<li/>').text(item));
                                    });
                                }
                                else {
                                    $('.terminal ul').append($('<li/>').text(result.error).addClass('error'));
                                }
                                $(".terminal").scrollTop($(".terminal")[0].scrollHeight);
                            }
                        });
                    });
                    $(document).delegate('#rebuildProjectBtn', 'click', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        $.ajax({
                            url: url,
                            success: function (result) {
                                if (result.result) {
                                    $(result.outputLines).each(function (i, item) {
                                        $('.terminal ul').append($('<li/>').text(item));
                                    });
                                }
                                else {
                                    $('.terminal ul').append($('<li/>').text(result.error).addClass('error'));
                                }
                                $(".terminal").scrollTop($(".terminal")[0].scrollHeight);
                            }
                        });
                    });


                    $(document).delegate('#installServiceBtn', 'click', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        $.ajax({
                            url: url,
                            success: function (result) {
                                if (result.result) {
                                    $(result.outputLines).each(function (i, item) {
                                        $('.terminal ul').append($('<li/>').text(item));
                                    });
                                }
                                else {
                                    $('.terminal ul').append($('<li/>').text(result.error).addClass('error'));
                                }
                                $(".terminal").scrollTop($(".terminal")[0].scrollHeight);
                            }
                        });
                    });
                    $(document).delegate('#uninstallServiceBtn', 'click', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        $.ajax({
                            url: url,
                            success: function (result) {
                                if (result.result) {
                                    $(result.outputLines).each(function (i, item) {
                                        $('.terminal ul').append($('<li/>').text(item));
                                    });
                                }
                                else {
                                    $('.terminal ul').append($('<li/>').text(result.error).addClass('error'));
                                }
                                $(".terminal").scrollTop($(".terminal")[0].scrollHeight);
                            }
                        });
                    });


                    $(document).delegate('#startServiceBtn', 'click', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        $.ajax({
                            url: url,
                            success: function (result) {
                                if (result.result) {
                                    $(result.outputLines).each(function (i, item) {
                                        $('.terminal ul').append($('<li/>').text(item));
                                    });
                                }
                                else {
                                    $('.terminal ul').append($('<li/>').text(result.error).addClass('error'));
                                }
                                $(".terminal").scrollTop($(".terminal")[0].scrollHeight);
                            }
                        });
                    });
                    $(document).delegate('#stopServiceBtn', 'click', function (e) {
                        e.preventDefault();
                        var url = $(this).attr('href');
                        $.ajax({
                            url: url,
                            success: function (result) {
                                if (result.result) {
                                    $(result.outputLines).each(function (i, item) {
                                        $('.terminal ul').append($('<li/>').text(item));
                                    });
                                }
                                else {
                                    $('.terminal ul').append($('<li/>').text(result.error).addClass('error'));
                                }
                                $(".terminal").scrollTop($(".terminal")[0].scrollHeight);
                            }
                        });
                    });
                });
            </script>
        }
        else
        {
            <script>

            </script>
        }
    }
    else
    {
        if (Model.InteractionType == WEB.Models.Enums.InteractionType.Transmit)
        {
            <script>
                $(function () {
                    $(document).delegate('#tab_3-tab', 'click', function (e) {
                    var line_chart_url = '@Url.Action("GetTransmitHistory", "ReceiveMonitor", new { serviceDetailId = Model.ServiceDetails.Count > 0 ? Model.ServiceDetails.First().Id : 0 })';
                    $.getJSON(line_chart_url, function (data) {
                                if (data.result) {
                                    var dates = ['Date'];
                                    var totals = ['Total'];
                                    var errors = ['Error'];
                                    var successes = ['Success'];

                                    var chart = c3.generate({
                                        bindto: '#line_chart',
                                        data: {
                                            x: 'Date',
                                            xFormat: '%Y%m%d',
                                            columns: [
                                                dates,
                                                totals,
                                                errors,
                                                successes
                                            ]
                                        },
                                        axis: {
                                            x: {
                                                type: 'timeseries',
                                                tick: {
                                                    //              format : "%m/%d" // https://github.com/mbostock/d3/wiki/Time-Formatting#wiki-format
                                                    format: "%e %b %y" // https://github.com/mbostock/d3/wiki/Time-Formatting#wiki-format
                                                }
                                            }
                                        }
                                    });
                                    setTimeout(function () {
                                        data.items.forEach(function (item) {
                                            dates.push(item.Date);
                                            totals.push(item.Amount.Total);
                                            errors.push(item.Amount.Error);
                                            successes.push(item.Amount.Success);
                                        });

                                        chart.load({
                                            columns: [
                                                dates,
                                                totals,
                                                errors,
                                                successes
                                            ]
                                        });
                                    }, 1000);
                                }
                                else {
                                    bs_alert(data.errorMessage);
                                }
                            });
                    });
                });
            </script>
        }
        else
        {
            <script>
                $(function () {
                    @if(Model.ClientDetails.Count > 0)
                    {
                        var soapObj = Model.ClientDetails.First();
                        <text>
                            var url = '@Url.Action("GetRequiredParams", "SoapClient", new { wsdlUrl = soapObj.ServiceCode.WsdlPath, methodName = soapObj.ServiceCode.Name })'.replace("&amp;", "&");
                            $.getJSON(url, function (data) {
                                if (data.result) {
                                    setTimeout(function () {
                                        var tmpl1 = $('<textarea id="inputParams" style="color:green;width: 100%;max-width:100%;height:300px"></textarea>');
                                        $('.inputParams').html(tmpl1);
                                        tmpl1.html(JSON.stringify(data.inputParams, undefined, 4));
                                        setTimeout(function () {
                                            var tmpl2 = $('<textarea id="outputParams" style="color:green;width: 100%;max-width:100%;height:300px"></textarea>');
                                            $('.outputParams').html(tmpl2);
                                            tmpl2.html(JSON.stringify(data.outputParams, undefined, 4));
                                        }, 0);
                                    }, 0);
                                }
                                else {
                                    bs_alert(data.errorMessage);
                                    $('.inputParams img').attr('src', '@Url.Content("~/Content/service-unavailable.png")').removeAttr('width').removeAttr('height');
                                    $('.outputParams img').attr('src', '@Url.Content("~/Content/service-unavailable.png")').removeAttr('width').removeAttr('height');
                                }
                    });

                    $(document).delegate('#tab_3-tab', 'click', function (e) {
                    var line_chart_url = '@Url.Action("GetReceiveHistory", "ReceiveMonitor", new { clientId = soapObj.Id })';
                    $.getJSON(line_chart_url, function (data) {
                                if (data.result) {
                                    var dates = ['Date'];
                                    var totals = ['Total'];
                                    var errors = ['Error'];
                                    var successes = ['Success'];

                                    var chart = c3.generate({
                                        bindto: '#line_chart',
                                        data: {
                                            x: 'Date',
                                            xFormat: '%Y%m%d',
                                            columns: [
                                                dates,
                                                totals,
                                                errors,
                                                successes
                                            ]
                                        },
                                        axis: {
                                            x: {
                                                type: 'timeseries',
                                                tick: {
                                                    //              format : "%m/%d" // https://github.com/mbostock/d3/wiki/Time-Formatting#wiki-format
                                                    format: "%e %b %y" // https://github.com/mbostock/d3/wiki/Time-Formatting#wiki-format
                                                }
                                            }
                                        }
                                    });
                                    setTimeout(function () {
                                        data.items.forEach(function (item) {
                                            dates.push(item.Date);
                                            totals.push(item.Amount.Total);
                                            errors.push(item.Amount.Error);
                                            successes.push(item.Amount.Success);
                                        });

                                        chart.load({
                                            columns: [
                                                dates,
                                                totals,
                                                errors,
                                                successes
                                            ]
                                        });
                                    }, 1000);
                                }
                                else {
                                    bs_alert(data.errorMessage);
                                }
                            });
                    });
                        </text>
                    }
                });
            </script>
        }
    }
}

@section styles {
    <!-- Load c3.css -->
    <link href="@Url.Content("~/c3-0.6.8/c3.css")" rel="stylesheet">
    <style>
        .terminal {
            background-color: #1c2544;
            color: white;
            padding: 10px;
            overflow: scroll;
            height: 300px;
        }

            .terminal .error {
                color: red;
                font-style: italic;
            }
    </style>
}


@section breadcrumb{
    <li class="breadcrumb-item">@Html.ActionLink("Список сервисов", "Index")</li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
}