@{
    ViewBag.Title = "Dashboard";
}



<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-cloud"></i>
                </div>
                <div class="mr-5"><span id="service-amount">0</span> сервисов</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "ServiceDescriptions")">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-info o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5"><span id="client-amount">0</span> клиентов</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "ServiceDescriptions")">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-recycle"></i>
                </div>
                <div class="mr-5"><span id="success-requests-amount">0</span> успешных запросов</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("AllHistoryReceive", "HistoryMonitor")">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-comment-alt"></i>
                </div>
                <div class="mr-5"><span id="error-requests-amount">0</span> ошибок</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("AllHistoryTransmit", "HistoryMonitor")">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>
<div class="card text-center">
    <div class="card-header">
        Министерство труда и социального развития Кыргызской Республики
    </div>
    <div class="card-body">
        <h5 class="card-title">Система обмена данными</h5>
        <p class="card-text">СОД это веб–приложение, функционирующее на основе службы веб–сервисов и использующие стандартизированный способ интеграции веб-приложений с использованием XML, SOAP, WSDL открытых стандартов, работающих на основе Интернет протоколов. СОД создает шлюз обмена данными как уникальный инструмент, позволяющий унифицировать всю работу по установлению соединений с разными источниками к единому своду правил и к единому стандарту автоматизации внешнего взаимодействия.</p>
        <div class="text-right">
            <a href="@Url.Content("~/Docs/Manual.pdf")" class="btn btn-primary" target="_blank">Открыть инструкцию по эксплуатации <i class="fas fa-external-link-alt"></i></a>
            <a href="@Url.Content("~/Docs/PublishManual.pdf")" class="btn btn-primary" target="_blank">Открыть инструкцию по установке <i class="fas fa-external-link-alt"></i></a>
        </div>
    </div>
    <div class="card-footer text-muted">
        Проект ВБ "Здравоохранение и социальная защита"
    </div>
</div>
@section breadcrumb{
<li class="breadcrumb-item active">Overview</li>
}

@section scripts{
    <script>
        $(function () {
            SetAmountOfType('@Url.Action("GetServiceAmount")', 'service-amount');
            SetAmountOfType('@Url.Action("GetClientAmount")', 'client-amount');
            SetAmountOfType('@Url.Action("GetSuccessRequestsAmount")', 'success-requests-amount');
            SetAmountOfType('@Url.Action("GetErrorRequestsAmount")', 'error-requests-amount');
        });
        function SetAmountOfType(url, elementId) {
            $.ajax(url,
                {
                    method: "GET",
                    contentType: "application/json"
                }).done(function (data) {
                    $('#' + elementId).html(data);
                }).catch(function (error) {
                    bs_alert(error);
                });
        }
    </script>
    }